<div ng-init="populate()">
    <p class="error">{{error}}</p>
    <p>{{loadingMessage}}</p>
    <div class="panel">
        <div class="input-group">
            <input ng-model="newTodoCaption" class="form-control" />
            <span class="input-group-btn">
                <button ng-click="add();" class="btn btn-default">Add</button>
            </span>
        </div>

        <table>
            <colgroup>
                <col span="2" style="background-color:red">
                <col style="background-color:yellow">
            </colgroup>
            <tr>
                <th>Cognitive Service</th>
                <th>ML.NET</th>
                <th>Custom model (Azure ML Studio)</th>
            </tr>
            <tr>
                <td>
                <table class="table table-striped">
    <tbody>
        <tr data-ng-repeat="item in todoList">
            <td ng-class='{red : item.CognitiveSentiment <= 0.5, green : item.CognitiveSentiment > 0.5}'>
                <p data-ng-hide="item.edit">{{item.Description}}</p>
                <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.Description" class="form-control" />
            </td>
            
        </tr>
    </tbody>
</table>
                </td>
                <td>
                    <table class="table table-striped">
                        <tbody>
                            <tr data-ng-repeat="item in todoList">
                                <td ng-class='{red : item.MlNetSentiment == 0, green : item.MlNetSentiment == 1}'>
                                    <p data-ng-hide="item.edit">{{item.Description}}</p>
                                    <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.Description" class="form-control" />
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table table-striped">
                        <tbody>
                            <tr data-ng-repeat="item in todoList">
                                <td ng-class='{red : item.Sentiment <= 0.3, green : item.Sentiment > 0.7}'>
                                    <p data-ng-hide="item.edit">{{item.Description}}</p>
                                    <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.Description" class="form-control" />
                                </td>
                              
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        </div>
    </div>

<style>
   
        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }

    .column {
        float: left;
        width: 33.33%;
    }


    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<style type="text/css">
    .red {
        color: red;
    }

    .green {
        color: green;
    }

    .black {
        color: black;
    }
</style>